html, body {
	height: 100%;
}

.vertical-center {
	display: flex;
	align-items: center;
	height: 100%;
}

#loaderImg {
	margin-left: 10px;
	margin-right: 10px;
}

.saving-success {
	display: none;
	border: #009933 1px solid;
	border-radius: 5px;
}

.saving-error{
	display: none;
	border: red 1px solid;
	border-radius: 5px; 
}

.full-width{
	width: 100%;
}