html, body {
	height: 100%;
	/*width: 100%;*/
	width: 1665px;
	font-size: 120%;
}


.bottom-fixed {
	position: fixed;
	width: 100%;
	height: 85px;
	left: 0;
	bottom: 0;
}

.rateControlsContainer {
	background-color: white;
	width: 1665px;
}

.rateControlsDelimiter {
	width: 100%;
	height: 10px;
	background: url(
	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z4AFkCAIAIHCA/05ycSYAAAAAElFTkSuQmCC
	) repeat;
	margin-bottom: 10px;
}

/*.rateControlsContainer > * {
	background-color: white;
	padding-top: 10px;
}*/

.questionContainer {
	min-width: 600px;
}

.questionContainer p {
	margin-top: 10px;
}

.radioBtnContainer {
	min-width: 750px;
}

.rateeContainer {
	padding: 10px;
	background: url(
	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAD0lEQVQImWNgQAX/yeAAAIHCA/0RE2WAAAAAAElFTkSuQmCC
	) repeat;
	padding-bottom: 95px;
	width:100%;
}

input[type='submit'] {
	height: 50px;
}

.rateeContainer img {
	width: 100%;
}

#apUXWebsMinLabel {
}

#apUXWebsMaxLabel {
	margin-left: 20px;
}

.apUXRadio {
	margin-left: 3px !important;
	margin-right: 3px !important;
}

.apUXRadio p{
	margin: 0;
}

.apUXRadio input {
	margin: 0 !important;
	float:none;
}

.apUXRadio input:hover{
	cursor: pointer;
}

#apUXWebsPreviewRoot {
	background-color: white;
}

.border-right {
	border-right: lightgray 1px solid;
}

input {
	box-shadow: none;
}

#fixationCrossBox {
	display: none;
	background-color:#888888;
	width: 100%;
	height: 100%;
}

.displayFlex {
	display: flex !important;
	align-items: center;
}

#fixationCrossBox img{
	width:425px;
	height:425px;
}

.full-width{
	width: 100%;
}

.full-height{
	height: 100%;
}
