<li class="g">\
	<div class="rc" data-hveid="32">\
		<h3 class="r"><a href="<%href%>" ><%title%> <b>...</b></a></h3>\
		<div class="s">\
			<div>\
				<div class="f kv _SWb" style="white-space:nowrap">\
					<cite class="_Rm bc"><a href="<%href%>" ><%baseUrl%></a> › <a href="<%href%>" >Homepage</a></cite>\
				</div>\
				<span class="st"><%snippet%></span>\
			</div>\
		</div>\
	</div>\
</li>